<% include partials/header.ejs%>

<h1><%= title %></h1>

<form method="post">
    <div>
        <label for="firstName">Customer First Name:</label>
        <input name="firstName" id="firstName" required />
    </div>

    <div>
        <label for="lastName">Customer Last Name: </label>
        <input name="lastName" id="lastName" required />
    </div>

    <div>
        <label for="address">Shipping Address: </label>
        <input name="address" id="address" required />
    </div>

    <div>
        <lable for="paymentType">Payment Method: </lable>
        <select name="paymentType" class="dropDown" id="paymentType" required>
            <%
            var types = ['Interact Debt', 'MasterCard', 'Visa'];

            for(var i=0; i<types.length; i++){ %>
            <option><%= types[i] %></option>
            <%   }    %>
        </select>
    </div>

    <div>
        <lable for="orderDetail">Order Details: </lable>
        <select name="orderItem" class="dropDown" id="orderItem" required>
            <%
            var types = ['Knitted Adult Hat', 'Knitted Child Hat', 'Knitted Scarf'];

            for(var i=0; i<types.length; i++){ %>
            <option><%= types[i] %></option>
            <%   }    %>
        </select>

        <select name="orderColour" class="dropDown" id="orderColour" required>
            <%
            var types = ['White', 'Black', 'Brown'];

            for(var i=0; i<types.length; i++){ %>

            <option><%= types[i] %></option>
            <%   }    %>
        </select>

        <select name="orderUnit" class="dropDown" id="orderUnit" required>
            <%
            var types = [ 1, 2, 3, 4, 5];

            for(var i=0; i<types.length; i++){ %>

            <option><%= types[i] %></option>
            <%   }    %>
        </select>
    </div>
    <div>
        <lable for="orderAddon">Finish: </lable>
        <select name="orderAddon" class="dropDown" id="orderAddon">
            <%
            var types = ['Beaver Fur Pom Pom', 'Raccoon Fur Pom Pom', 'Coyote Fur Pom Pom', 'White Fox Fur Pom Pom', 'Red Fox Fur Pom Pom'];

            for(var i=0; i<types.length; i++){ %>

            <option><%= types[i] %></option>
            <%   }    %>
        </select>
    </div>

    <div>
        <lable for="orderComment">Order Comments: </lable>
        <input name="orderComment" id="orderComment" />
    </div>

    <button>Save</button>
</form>

<% include partials/footer.ejs%>