<% include partials/header.ejs %>
<div class="container">

    <h1><%= title %></h1>

    <!-- if user is login, display add new order link -->
    <% if (user) { %>
        <a href="orders/add">Add New Order</a>
    <% } %>

    <!-- Search bar for orders, find by name -->
    <form id="searchBar" onsubmit="return false;">
        <br/><input type="text" name="search" id="search" placeholder="Search by name...">
    </form>

    <!-- Table of orders -->
    <table>
        <tr>
            <th>Name</th>
            <th>Shipping Address</th>
            <th>Payment Method</th>
            <th>Order Item</th>
            <th>Order Colour</th>
            <th>Order Quanity</th>
            <th>Order Finish</th>
            <th>Comment</th>
            <% if (user) { %>
            <th>Edit</th>
            <th>Delete</th>
            <% } %>
        </tr>
        <% for (var i=0; i < orders.length; i++) { %>
        <tr>
            <td><%= orders[i].firstName %> <%= orders[i].lastName %></td>
            <td><%= orders[i].address %></td>
            <td><%= orders[i].paymentType %></td>
            <td><%= orders[i].orderItem %></td>
            <td><%= orders[i].orderColour %></td>
            <td><%= orders[i].orderUnit %></td>
            <td><%= orders[i].orderAddon %></td>
            <td><%= orders[i].orderComment %></td>
            <!-- if user is login, display edit and delete buttons -->
            <% if (user) { %>
            <td><a class="button" href="/orders/<%= orders[i]._id %>">Edit</a></td>
            <td><a href="/orders/delete/<%= orders[i]._id %>" class="confirmation">Delete</a></td>
            <% } %>
        </tr>
        <% } %>
    </table>
</div>

<% include partials/footer.ejs %>